<h1>All Wikis</h1>
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if current_user.standard? && wiki.private? %>
        <% else current_user.admin? || ( current_user.premium? && (current_user == wiki.user)) %>
          <%= link_to wiki.title, wiki %>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
